<header class="shadow-md relative" style="width: 100%; z-index: 20; height: 75px;">
  <nav class="container containerFluid">
      <div class="flex justify-center lg:justify-between items-center py-2">
          <div class="flex flex-row items-center">
              <img src="./assets/img/logo_jaliscosedefiende.svg" alt="Ante la pandemia Jalisco se defiende" class="jalisco-gob pr-4 lg:pr-12 border-r">
              <img src="./assets/img/logo_jal.svg" alt="Jalisco, Gobierno del estado" class="jalisco-se-defiende pl-4 lg:pl-12">
          </div>
          <ul class="nav-menu z-50">
              <li class="nav-item"><a href="#" title="Calcula tu próxima dosis" class="nav-link" style="text-decoration: none;">Calcula tu próxima dosis</a></li>

              <i class="fas fa-user"></i>
              <li class="nav-item">
                  <a href="#" title="Aviso de privacidad" target="_blank" class="nav-link" style="text-decoration: none;">
                      <img class="icon-info" src="./assets/img/informacion.svg" alt="">
                      Aviso de privacidad
                  </a>
              </li>
          </ul>
          <div class="hamburger ml-auto lg:ml-0 mr-2"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
      </div>
  </nav>
</header>
