<!-- <div class="content-cita">
  <div class="card card-content">
    <h1 class="title-card">Campañas activas de vacunación contra Covid-19 (ZMG)</h1>
    <div class="content-cards">

      <div class="mini-card">
        <h3>CARD 1</h3>
      </div>
      <div class="mini-card">
        <h3>CARD 2</h3>
      </div>
    </div>

  </div>
  <a href="tel:+523338233220" class="sc-bsipQr icono-tel"> <i class="fa-brands fa-whatsapp"></i> 33 3823 3220</a>
</div> -->


<div class="body-content">
  <div class="card-content">
    <h1 class="title-vacunacion"><b>Campañas activas de vacunación <br> contra Covid-19 (ZMG)</b></h1>
    <div class="row cards">
      <div class="card">
        <img src="./assets/img/users.svg" alt="Avatar" class="img-users">
        <div class="container info-card">
          <p class="text-blue-dark"><b>Programas de 18 y más</b></p>
          <p class="text-blue"> <img src="./assets/img/number-one.png" alt=""> <b>Primera Dosis</b></p>
        </div>
      </div>

      <div class="card">
        <img src="./assets/img/users.svg" alt="Avatar" class="img-users">
        <div class="container info-card">
          <p class="text-blue-dark"><b>Programas de 18 y más</b></p>
          <p class="text-blue"> <img src="./assets/img/number-two.png" alt=""> <b>Segunda Dosis</b></p>
          <p class="text-orange font-w800 font-size20">ASTRA ZENECA</p>
          <p class="text-orange font-w600 font-size15">Primera dosis aplicada antes del <br> 15 de Agosto</p>
        </div>
      </div>
    </div>
    <div class="separator-line with-90"></div>

    <div class="content-vacunas">
      <h2 class="text-blue align-left m-0 font-size36">Comenzar ahora</h2>
      <p class="text-grey">Ingresa tu CURP para agendar una cita <br> o para <a class="text-blue" href="#">cancelar una
          cita</a> ya registrada.</p>
    </div>

    <div class="content-vacunas">
      <div class="content-input">
        <div class="input-group">
          <img src="./assets/img/user.svg" class="ico-user">
          <input placeholder="Introduce tu CURP" type="input" id="text-crup" class="input-crup"
            value="AUNB980623HGRNVR09" #textTermino (keyup)="validarCaracteres(textTermino.value)"
            [(ngModel)]="crup.crup">
        </div>
        <div class="sc-higXBA btn-next">
          <button disabled="" class="text-next" (click)="agregar()" id="btn-continuar">Continuar </button>
        </div>
      </div>
    </div>

    <div class="content-consulta-crup">
      <span class="sc-fWSCIC hCpmSt" style="text-align: left; font-weight: 300;">Si no conoces tu CURP
        <a href="https://www.gob.mx/curp/" target="_blank" rel="noopner noreferrer" class="txt-consulta-crup">consulta
          aquí</a>
      </span>
    </div>
  </div>

  <div
    style="display: flex; width: 80%; flex-direction: row; align-items: center; justify-content: space-between; z-index: 10; margin-top: 20px;">
  </div>

  <div class="sc-dFJsGO ">
    <img src="./assets/img/img_left.svg" class="img-left-flecha">
    <div class="sc-jUEnpm kgHyGP"><img src="./assets/img/img_back_puntos.svg" class="sc-fvhGYg img-puntos">
      <img src="./assets/img/img_right.svg" class="img-right-flecha">
      <div class="sc-GTWni GkeGT">
      </div>
    </div>
  </div>

  <!-- <div class="sc-dFJsGO liTBVH">
    <div class="sc-jUEnpm kgHyGP">
      <img
        src="./assets/img/img_back_puntos.svg"
        class="sc-fvhGYg kHEClt">
    </div>
  </div> -->


  <a href="tel:+523338233220" class="link-tel"> <img class="ico-tel" src="./assets/img/ico_tel.svg" alt=""> 33 38233220</a>

  <a href="tel:+523338233220" class="link-tel-icon"><img src="./assets/img/ico_tel.svg" class="ico-tel-min"></a>
</div>
