<footer>
  <div class="col col-3 col-4 col-5">
      <img src="./assets/img/red-vacunacion.svg" alt=" Red de Vacunación" class="img-footer ">
  </div>

  <div class="col col-3 col-4 col-5">
      <img src="./assets/img/cuidarse-prevenir.svg" alt="Cuidarse" class="img-footer">
  </div>

  <div class="col col-3 col-4 col-5">
      <img src="./assets/img/salud.svg" alt="Salud" class="img-footer">
  </div>

  <div class="col col-3 col-4 col-5">
      <img src="./assets/img/servicios-salud.svg" alt="Servicios de salud" class="img-footer">
  </div>

  <div class="col col-3 col-5">
      <img src="./assets/img/atencion-medica.svg" alt="Atención medica" class="img-footer">
  </div>

  <div class="col col-2 col-3">
      <img src="./assets/img/sedena.png" alt="Sedena" class="img-footer">
  </div>

  <div class="col col-2 col-3">
      <img src="./assets/img/bienestar.svg" alt="Bienestar" class="img-footer">
  </div>
</footer>
